@import 'drawing.css';

.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
}

.arrow-step-wrapper {
	vertical-align: middle;
}

.arrow-steps .step {
	font-size: 14px;
	text-align: center;
	color: #666;
	cursor: pointer;
	margin: 10px 3px;
	padding: 8px 10px 8px 10px;
	min-width: 180px;
	float: left;
	position: relative;
	background-color: #dadce0;
    border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
    transition: background-color 0.2s ease;
}

.arrow-steps .step span {
	position: relative;
}

.arrow-steps .step.current {
	color: #fff;
	background-color: #696c74;
}

.arrow-steps .step.current:after {
	border-left: 17px solid #696c74;	
}