#network {
    width: 100%;
    height: 70vh;
    border: 1px solid lightgray;
}

#hierarchical-button {
  font-weight: bold;
}

.blue-text {
    font-weight: bold;
    color: #000088;
}

.red-text {
    font-weight: bold;
    color: #880000
}

.green-text {
    font-weight: bold;
    color: #008800
}

.popover[class*="tour-"].orphan {
left: 50% !important;
top: 50% !important;
margin-top: 0;
position: absolute;
transform: translate(-50%, -50%) !important;
}

.left-pane {
  border-right: 1px solid lightgray;
}

.details {
    position: sticky;
    top: 75px;
}

.scroll-list {
    max-height: 45vh;
    overflow-y: scroll;
}

.scroll-list-x {
    max-height: 45vh;
    max-width: 90vw;
    overflow-x: scroll;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    margin: 5px;
    padding: 5px;
    border: 1px solid lightgray;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.ul-card {
  list-style: none;
  border: none;
  padding: 0;
}

.card-list-alternating li:nth-child(odd){
    background: white;
}

.card-list-alternating li:nth-child(even){
    background: GhostWhite;
}

.card-first {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    margin: 5px;
    padding: 5px;
    border: 1px solid lightgray;
}

.card-rest {
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    margin: 5px auto;
    padding: 5px;
    border: 1px solid lightgray;
}

.grid-wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-flow: row;
  grid-gap: 10px;
}

.grid-wrapper-onerow {
  display: grid;
  grid-template-rows: minmax(25vh, max-content);
  grid-auto-columns: 200px;
  grid-auto-flow: column;
  grid-gap: 10px;
}

.loader {
  display: none;
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  border: 32px solid #f3f3f3; /* Light grey */
  border-top: 32px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 300px;
  height: 300px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.mx-auto {
    margin: 10px auto;
}

.mb-10 {
    margin-bottom: 10px;
}

.ml-25 {
    margin-left: 25px;
}

/* Drag and drop */
/* text non-selectable */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.nonselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.nopointer {
  pointer-events: none;
}

.dragover {
  border: 2px dashed #000;
  pointer-events: none;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 150px !important; /* Full-width */
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  margin: 5px;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px;
  border-radius: 50%;
  background: rgb(100, 100, 100); /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px;
  border-radius: 50%;
  background: rgb(100, 100, 100);
  cursor: pointer; /* Cursor on hover */
}