.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: block;
  transition: opacity .3s ease;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.fade-d, .fade-l, .fade-u, .fade-r {
  transition: all .3s ease;
}

.modal-enter .fade-d,
.modal-leave-active .fade-d {
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}

.modal-enter .fade-l,
.modal-leave-active .fade-l {
  -webkit-transform: translate(50px, 0);
  transform: translate(50px, 0);
}

.modal-enter .fade-u,
.modal-leave-active .fade-u {
  -webkit-transform: translate(0, 50px);
  transform: translate(0, 50px);
}

.modal-enter .fade-r,
.modal-leave-active .fade-r {
  -webkit-transform: translate(-50px, 0);
  transform: translate(-50px, 0);
}
