{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Drawing{% endblock %}
{% block page_title %}Drawing{% endblock %}

{% block extrahead %}
<script src="{% static 'js/browser-compat.js' %}"></script>
<script src="{% static 'js/vue.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/drawing.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/tooltip.css' %}" type="text/css">
{% endblock %}

{% block page_body %}

<div id="app">

    <div class="row">
        <div class="col-12">
            <p class="lead">
                Utility for drawing images from molecule SMILES, reaction SMILES, and template SMARTS.
            </p>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-12">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">SMILES</span>
                </div>
                <input class='form-control text-center' type="text" v-model="smiles" id="smiles"/>
                <div class='input-group-append'>
                    <button type="button" class="input-group-text" title="Open drawer" data-toggle="modal" data-target="#drawingbox" @click="drawBox('smiles')"><i class="fas fa-edit"></i></button>
                    <button type="button" class="input-group-text" title="Copy" @click="copyToClipboard(smiles)"><i class="fas fa-copy"></i></button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="draw-settings">
                        <div class="m-2">
                            <button type="button" class="btn btn-outline-dark btn-block" @click="canonicalize(smiles, 'smiles')">Canonicalize</button>
                        </div>
                        <div class="form-check m-2">
                            <input class="form-check-input" id="drawMap" type="checkbox" v-model="drawMap">
                            <label class="form-check-label" for="drawMap">Draw map</label>
                        </div>
                        <div class="form-check m-2">
                            <input class="form-check-input" id="highlight" type="checkbox" v-model="highlight">
                            <label class="form-check-label" for="highlight">Highlight map</label>
                        </div>
                    </div>
                    <button id="draw-settings" class="input-group-text dropdown-toggle" title="Options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-cog"></i>
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div v-if="!!smiles" class="row text-center my-5">
        <div class="col-12">
            <div class="customtooltip" @click="copyToClipboard(smiles)" >
                <span class="customtooltiptext">Copy SMILES</span>
                <img class="hide-broken" :src="`/api/v2/draw/?smiles=${encodeURIComponent(smiles)}&draw_map=${drawMap}&highlight=${highlight}`" :alt="smiles"/>
            </div>
        </div>
    </div>

<!-- drawing box -->
{% include "drawing_modal.html" %}

</div>

{% endblock %}

{% block javascript %}
<script src="{% static 'js/draw.js' %}"></script>
{% endblock %}
