<!-- Popup drawing tool -->
<div class="modal fade" id="drawingbox">
    <div class="modal-dialog modal-lg modal-dialog-centered" style="width: 600px;">
        <div class="modal-content">
            <div class="modal-body">
                <div id="jsme_container"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" @click="updateSmilesFromJSME">Done drawing</button>
            </div>
        </div>
    </div>
</div>
