{% load staticfiles %}

<link href="{% static 'ketcher/dist/ketcher.css' %}" rel="stylesheet" type="text/css" />
<script>
    var ketcher_svg_url = "{% static 'ketcher/dist/ketcher.svg' %}"
    var ketcher_api_path = "/api/v2/indigo/"
    // original value ^: 'https://lifescience.opensource.epam.com/v2'
    // this would potentially expose info through API calls (like the third-party name resolution issue)
    // TODO Toggle official Indigo use through a configurable setting? Install and run the Dockerized version of Indigo?
    // Switch to our own API endpoints?
</script>
<script src="{% static 'ketcher/dist/ketcher.js' %}"></script>
