{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Launchpad{% endblock %}
{% block page_title %}Launchpad{% endblock %}

{% block extrahead %}
<script src="{% static 'js/browser-compat.js' %}?v{{ static_version }}"></script>
<script src="{% static 'js/vue.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/drawing.css' %}?v{{ static_version }}" type="text/css">
<link rel="stylesheet" href="{% static 'css/tooltip.css' %}?v{{ static_version }}" type="text/css">
{% endblock %}

{% block page_body %}

<div id="app">

<!-- drawing box -->
{% include "ketcher_modal.html" with vue=True %}

    <div class="row">
        <div class="col-12">
            <p class="lead">
                Start by entering the SMILES string of a molecule or reaction of interest to explore available features.
            </p>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-12">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">SMILES</span>
                </div>
                <input class='form-control text-center' type="text" v-model="smiles" id="smiles"/>
                <div class='input-group-append'>
                    <button type="button" class="input-group-text" title="Open drawer" data-toggle="modal" data-target="#drawingbox" @click="drawBoxKetcher('smiles')"><i class="fas fa-edit"></i></button>
                    <button type="button" class="input-group-text" title="Copy" @click="copyToClipboard(smiles)"><i class="fas fa-copy"></i></button>
                    <button type="button" class="input-group-text" title="Canonicalize" @click="canonicalize(smiles, 'smiles')">Canonicalize</button>
                </div>
            </div>
        </div>
    </div>

    <div v-if="!!smiles" class="row text-center my-5">
        <div class="col-12">
            <div class="customtooltip" @click="copyToClipboard(smiles)" >
                <span class="customtooltiptext">Copy SMILES</span>
                <img class="hide-broken" :src="`/api/v2/draw/?smiles=${encodeURIComponent(smiles)}`" :alt="smiles"/>
            </div>
        </div>
    </div>

    <div v-if="!!smiles && type === 'mol'" class="row text-center my-5">
        <div class="col-12">
            This is a molecule!
        </div>
    </div>

    <div v-if="!!smiles && type === 'rxn'" class="row text-center my-5">
        <div class="col-12">
            This is a reaction!
        </div>
    </div>

</div>

{% endblock %}

{% block javascript %}
<script src="{% static 'js/launchpad.js' %}?v{{ static_version }}"></script>
{% endblock %}
