<div id="app" class="my-5">

<!-- drawing box -->
{% include "ketcher_modal.html" with vue=True %}

    <div class="row text-center">
        <div class="col-12">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                </div>
                <input class='form-control text-center' type="text" v-model="smiles" id="smiles"
                    placeholder="Enter a molecule or reaction SMILES to explore available tasks"/>
                <div class='input-group-append'>
                    <button type="button" class="input-group-text" title="Open drawer" data-toggle="modal" data-target="#drawingbox" @click="drawBoxKetcher('smiles')"><i class="fas fa-edit"></i></button>
                    <button type="button" class="input-group-text" title="Canonicalize" @click="canonicalize(smiles, 'smiles')">Canonicalize</button>
                </div>
            </div>
        </div>
    </div>

    <div v-if="!!smiles" class="row text-center my-5">
        <div class="col-12">
            <div class="customtooltip" @click="copyToClipboard(smiles)" >
                <span class="customtooltiptext">Copy SMILES</span>
                <img class="hide-broken" :src="`/api/v2/draw/?smiles=${encodeURIComponent(smiles)}`" :alt="smiles" @load="validSmiles = true" @error="validSmiles = false"/>
            </div>
        </div>
    </div>

    <template v-if="validSmiles && type === 'mol'">
        <div class="card-deck my-5">
            <div class="card bg-light">
                <div class="card-body launchcard-body">
                    <h4 class="card-title">SCScore</h4>
                    <template v-if="scscore === undefined">
                        <button type="button" class="btn btn-primary" @click="getScscore(smiles)">Evaluate</button>
                    </template>
                    <template v-else-if="scscore === 'evaluating'">
                        <div class="spinner-border text-secondary" role="status"></div>
                    </template>
                    <template v-else>
                        <p class="card-text lead">%% scscore %%</p>
                    </template>
                </div>
            </div>
            <div class="card bg-light">
                <div class="card-body launchcard-body">
                    <a class="stretched-link text-decoration-none" :href="`/retro/network/?target=${encodeURIComponent(smiles)}`" target="_blank">
                        <h4 class="m-0">Synthesize with Interactive Path Planner</h4>
                    </a>
                </div>
            </div>
            <div class="card bg-light">
                <div class="card-body launchcard-body">
                    <a class="stretched-link text-decoration-none" :href="`/synth_interactive/?mode=forward&reactants=${encodeURIComponent(smiles)}`" target="_blank">
                        <h4 class="m-0">Predict Forward Synthesis</h4>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-deck my-5">
            <div class="card bg-light">
                <div class="card-body launchcard-body">
                    <a class="stretched-link text-decoration-none" :href="`/buyables/?q=${encodeURIComponent(smiles)}`" target="_blank">
                        <h4 class="m-0">Search Buyables Database</h4>
                    </a>
                </div>
            </div>
            <div class="card bg-light">
                <div class="card-body launchcard-body">
                    <a class="stretched-link text-decoration-none" :href="`/synth_interactive/?mode=impurity&reactants=${encodeURIComponent(smiles)}`" target="_blank">
                        <h4 class="m-0">Predict Impurities</h4>
                    </a>
                </div>
            </div>
            <div class="card bg-light">
                <div class="card-body launchcard-body">
                    <a class="stretched-link text-decoration-none" :href="`/synth_interactive/?mode=sites&reactants=${encodeURIComponent(smiles)}`" target="_blank">
                        <h4 class="m-0">Predict Aromatic Site Selectivity</h4>
                    </a>
                </div>
            </div>
        </div>
    </template>

    <template v-if="validSmiles && type === 'rxn'">
        <div class="card-deck my-5">
            <div class="card bg-light">
                <div class="card-body launchcard-body">
                    <h4 class="card-title">Fast Filter Score</h4>
                    <template v-if="reactionScore === undefined">
                        <button type="button" class="btn btn-primary" @click="getReactionScore(smiles)">Evaluate</button>
                    </template>
                    <template v-else-if="reactionScore === 'evaluating'">
                        <div class="spinner-border text-secondary" role="status"></div>
                    </template>
                    <template v-else>
                        <p class="card-text lead">%% reactionScore %%</p>
                    </template>
                </div>
            </div>
            <div class="card bg-light">
                <div class="card-body launchcard-body">
                    <h4 class="card-title">Generate Atom Mapping</h4>
                    <template v-if="mappedSmiles === 'evaluating'">
                        <div class="spinner-border text-secondary" role="status"></div>
                    </template>
                    <template v-else>
                        <div class="btn-group" role="group">
                            <template v-if="mappedSmiles === undefined">
                                <button type="button" class="btn btn-primary" @click="getMappedSmiles(smiles)">Evaluate</button>
                            </template>
                            <template v-else>
                                <button type="button" class="btn btn-primary" @click="showMappedSmiles = !showMappedSmiles">%% showMappedSmiles ? 'Hide' : 'Show' %%</button>
                            </template>
                            <button id="atomMapSettings" type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-cog"></i></button>
                            <div class="dropdown-menu" aria-labelledby="atomMapSettings">
                                <h5 class="dropdown-header"><b>Model</b></h5>
                                <div class="px-4 py-2 text-nowrap">
                                    <div v-for="(opt, index) in mapperOptions" class="form-check">
                                        <input class="form-check-input" :id="`mapperOpt${index}`" type="radio" :value="opt" v-model="mapper">
                                        <label class="form-check-label" :for="`mapperOpt${index}`">%% opt %%</label>
                                    </div>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="px-4 py-2 text-nowrap">
                                    <button type="button" class="btn btn-outline-dark btn-block" @click="getMappedSmiles(smiles)" :disabled="mappedSmiles === undefined">Re-evaluate</button>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
            <div class="card bg-light">
                <div class="card-body launchcard-body">
                    <a class="stretched-link text-decoration-none" :href="`/synth_interactive/?mode=forward&rxnsmiles=${encodeURIComponent(smiles)}`" target="_blank">
                        <h4 class="m-0">Predict Forward Synthesis</h4>
                    </a>
                </div>
            </div>
        </div>

        <div class="card" v-if="mappedSmiles !== undefined && mappedSmiles !== 'evaluating'" v-show="showMappedSmiles">
            <div class="card-body">
                <template v-if="!!mappedSmiles">
                    <div class="row text-center mb-5">
                        <div class="col-12">
                            <div class="customtooltip" @click="copyToClipboard(mappedSmiles)" >
                                <span class="customtooltiptext">Copy SMILES</span>
                                <i class="far fa-copy"></i>
                                <b>Smiles: </b>
                                <span class="smiles">%% mappedSmiles %%</span>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center my-5">
                        <div class="col-12">
                            <img class="hide-broken" :src="`/api/v2/draw/?smiles=${encodeURIComponent(mappedSmiles)}&draw_map=true`" :alt="mappedSmiles"/>
                        </div>
                    </div>
                    <div class="row text-center mt-5">
                        <div class="col-12">
                            <img class="hide-broken" :src="`/api/v2/draw/?smiles=${encodeURIComponent(mappedSmiles)}&highlight=true`" :alt="mappedSmiles"/>
                        </div>
                    </div>
                </template>
                <template v-else>
                    <div class="row text-center my-3">
                        <div class="col-12">
                            <span class="lead">Unable to generate atom mapping for this reaction.</span>
                        </div>
                    </div>
                </template>
            </div>
        </div>

        <div class="card-deck my-5">
            <div class="card bg-light">
                <div class="card-body launchcard-body">
                    <a class="stretched-link text-decoration-none" :href="`/synth_interactive/?mode=context&rxnsmiles=${encodeURIComponent(smiles)}`" target="_blank">
                        <h4 class="m-0">Predict Conditions</h4>
                    </a>
                </div>
            </div>
            <div class="card bg-light">
                <div class="card-body launchcard-body">
                    <a class="stretched-link text-decoration-none" :href="`/synth_interactive/?mode=impurity&rxnsmiles=${encodeURIComponent(smiles)}`" target="_blank">
                        <h4 class="m-0">Predict Impurities</h4>
                    </a>
                </div>
            </div>
            <div class="card bg-light">
                <div class="card-body launchcard-body">
                    <a class="stretched-link text-decoration-none" :href="`/synth_interactive/?mode=selectivity&rxnsmiles=${encodeURIComponent(smiles)}`" target="_blank">
                        <h4 class="m-0">Predict Regioselectivity</h4>
                    </a>
                </div>
            </div>
        </div>
    </template>

</div>
